:root {
    font-size: 62.5%;

    --fontFamily: "Epilogue", serif;
    --primary-color: #000B58;
    --primary-color-hover: #030936;
    --secondary-color: #3B4262;
    --third-color: #FFF4B7;
    --error-color: #F03E3E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
}



body {
    position: relative;
    font-family: var(--fontFamily);
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    padding: 4rem 1rem 4rem 1rem;
}

header > div > div {
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 5px 5px 0 0;
    line-height: 170%;
    font-size: 1.5rem;
    font-weight: bold;
}

header h1 {
    width: 20rem;
    font-size: 2.5rem;
}

header > div h2 {
    margin-bottom: 1rem;
}

header button {
    width: 100%;
    padding: 1.3rem;
    border-radius: 0 0 5px 5px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
    border-top: 0;
    font-size: 1.8rem;
    font-weight: bold;
}

header button:hover {
    background-color: var(--primary-color-hover);
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.alertError.open {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.alertError {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--error-color);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 1px 0;
    font-size: .9rem;

    visibility: hidden;
    opacity: 0;
    
    transform: translateY(-30px);
    transition: .5s;
}

.initialScreen {
    display: flex;
    flex-direction: column;
    margin-bottom: 7rem;
}
.initialScreen  h2 {
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.initialScreen img {
    padding: 2rem 3rem;
}
.initialScreen button {
    background-color: white;
    border: none;
}

.titleChoice {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 3rem;
}

.titleChoice h3:nth-of-type(1) { 
    transform: translateX(-1.5rem);
}

.choiceIndicator{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    font-size: 5rem;
    font-weight: bold;
}

.subtitle {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    visibility: hidden;
    color: white;
    font-weight: bold;
}

.subtitle span:first-of-type { 
    transform:translateX(.7rem);
}

.subtitle span:first-of-type + span {
    transform:translateX(1.1rem);
}

 .show {
    visibility: visible;
    animation-name: topdown;
    animation-duration: 500ms;
}

.subtitle span {
    background-color: var(--secondary-color);
    border-radius: 1.6rem;
    padding: .8rem 1.6rem;
}

.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

.result h3 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.result button {
    align-self: center;
    background-color: var(--primary-color);
    color: white;
    border-radius: .8rem;
    font-family: var(--fontFamily);
    font-size: 1.7rem;
    padding: 5px;
    width: 10rem;
}

.result button:hover {
    background-color: var(--primary-color-hover);
}

.hide {
    display: none;
}

.modalWrapper.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.modalWrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    display: grid;
    place-content: center;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-110px);
    transition: .5s;
}

.modalCard {
    position: relative;
    background-color: white;
    padding: 1rem;

}
.modalCard h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

ul {
    list-style: none;
    background-color:#3b42622c;
    padding: 1rem;
    line-height: 200%;
    font-size: 1.2rem;
}

.modalCard, ul {
    border-radius: 5px;
    
}

.modalCard img {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    padding: 5px 5px 0 0;
}


footer {
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer button {
    font-family: var(--fontFamily);
    font-weight: bold;
    margin-top: 5px;
    padding: 1rem;
    border-radius: 0.7rem;
    background-color: #FFF8DE;
}

footer p {
    color: white;
    font-size: 1rem;
}

footer a {
    text-decoration: none;
    color: var(--third-color);
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (min-width: 1440px) {
   header {
    justify-content: space-between;
    padding: 2rem 18rem;
   }

   header > div > div {
    line-height: 170%;
    font-size: 2rem;
   }

   header h1 {
    width: auto;
    font-size: 5rem;
   }

   header button {
    font-size: 2.5rem;
   }

   .alertError {
    font-size: 1.4rem;
    padding: 8px 0;
   }

   .initialScreen img:hover {
        cursor: pointer;
        scale: 1.6;
        transition-timing-function: ease-in;
        transition-duration: 200ms;
   }

   

   .titleChoice {
        font-size: 3rem;
        gap: 6rem;
        margin-bottom: 2rem;
   }

   .choiceIndicator, .titleChoice {
    margin-left: 5.5rem;
   }


   .choiceIndicator img {
        width: 7rem;
   }

   .result h3 {
        font-size: 3rem ;
   }

   .result button {
         font-size: 2rem;
         width: 15rem;
         padding: 1rem;
   }

   .modalCard h2 {
    font-size: 3rem;
    margin-top: 1rem;
   }

   ul {
    padding: 3rem;
    font-size: 1.8rem;
    margin: 1rem 3rem 3rem;
   }

   .modalCard img:hover {
        cursor: pointer;
   }
   footer p {
    font-size: 1.3rem;
   }

   footer button {
    font-size: 2.5em;
   }
}